.ant-layout-header {
    background-color: var(--primary-light-1);
}

.header {
    display: grid;
    grid-template-columns: minmax(min-content, 1190px) 1fr;
    row-gap: 15px;
    padding: 16px 24px 24px;
    overflow: hidden;
}

.breadcrumb {
    grid-column: 1/ -1;
}

.title {
    font-size: 38px;
    font-weight: 700;
    line-height: 130%;
    grid-column: 1/ 2;
    margin: 0;

}

@media (max-width: 992px) {
    .title {
        font-size: 24px;
        font-weight: 500;
    }

    .anticon.anticon-setting {
        display: none;
    }
}


@media (max-width: 576px) {
    .header {
        row-gap: 10px;
    }


    .title {
        font-size: 20px;
        font-weight: 500;
    }

    .anticon.anticon-setting {
        display: block;
    }

}
