
.logoContainer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}

.logo {
    width: 133px;
    height: 33px;
}

.fullLogo {
    padding: 14px 46px 17px 29px;
    overflow: hidden;
}

.collapsedLogo {
    width: 28px;
    height: 28px;
}

.minLogo {
    padding: 18px;
}
