.ant-card svg[data-icon="calendar"] path {
    fill: var(--primary-light-2);
}


.ant-card-head-wrapper {
    padding: 0 8px;
}

.ant-card-head-title {
    white-space: pre-wrap;
    text-align: center;
    font-weight: 400;
}


@media (max-width: 992px) {
    .ant-card-head-title {
        text-align: left;

    }
}


@media (max-width: 572px) {
    .ant-card-head-title {
        text-align: center;

    }
}
