.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    height: 1024px;
}


.header {
    display: grid;
    grid-template-columns: minmax(min-content, 1190px) 1fr;
    row-gap: 15px;
    padding: 16px 24px 24px 24px;
}

.breadcrumb {
    grid-column: 1/ -1;
}


.title {
    font-size: 38px;
    font-weight: 700;
    line-height: 130%;
    grid-column: 1/ 2;
    margin: 0;
}




@media (max-width: 992px) {
    .title {
        font-size: 24px;
        font-weight: 500;
    }


    :global(.anticon.anticon-setting) {
        display: none;
    }
}
