.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    /*height: 1024px;*/
}

.ant-layout-sider {
    z-index: 100;
    background: var(--white);
}

.ant-layout,
.ant-layout-footer {
    background: none;
}

.ant-layout-footer,
.ant-layout-header {
    padding: 0;
    height: auto;
    line-height: 1;
}

.ant-layout-content {
    padding: 24px;
}

.ant-layout.ant-layout-has-sider {
    background: url('public/main_page_light.jpeg') no-repeat center;
    background-size: cover;
}

.ant-menu-vertical .ant-menu-item:not(:last-child) {
    margin-bottom: 16px;
}

.content-grid {
    max-width: 752px;
    column-gap: 16px;
    row-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(182px, 1fr));
    grid-auto-flow: row;
    margin-bottom: 180px;

}

.benefits {
    grid-column: 1/ -1;
    padding: 24px;
    font-size: 16px;
    color: var(--primary-dark-1);
    font-weight: 400;
    line-height: 130%;
    background-color: var(--white);
}

.benefits-text {
    grid-column: 1/ -1;
    padding: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    background-color: var(--white);
}



@media (max-width: 576px) {
    .side-bar {
        position: absolute;
        height: 100dvh;
    }

    .benefits {
        padding: 16px;
    }

    .ant-layout-content {
        padding: 24px 16px
    }
}


