@import "/src/pages/main-page/main-page.css";

@import  "/src/components/menu/menu.css";
@import "/src/components/menu/trigger/trigger.css";
@import "/src/components/menu/menu-button/menu-button.css";
@import "/src/components/menu/logo/logo.css";

@import "/src/components/header-content/header-content.css";

h1, h2, h3, h4, p {
    margin: 0;
}


body {
    font-family: 'Inter', sans-serif;
    backdrop-filter: blur(12px);
    background: rgba(121, 156, 213, 0.1);
}


:root {
    --primary-light: #F0F5FF;
}
